* {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* header styles */
.bannar {
  background-image: url("../assets/images/banner/banner3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1600;
  height: 808;
}
.bannar-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  padding: 216px 230px 24px 845px;
}
.bannar-description {
  text-align: right;
  color: #ffffff;
  padding: 0 230px 32px 876px;
}
.bannar-btn {
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  padding: 20px 25px;
  border: 0;
  border-radius: 5px;
  margin: 0 100px 166px 1120px;
}
.bannar-btn:hover {
  background-color: lightgrey;
}

/* failures-section styles */
.failures {
  display: flex;
  gap: 85px;
  /* justify-content: center; */
  margin: 131px 322px 130px 206px;
}
.failures-writing {
  padding-top: 240px;
  text-align: left;
}
.failures-header {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.failures-description {
  padding-bottom: 16px;
  color: #444343;
}
.failures-list {
  list-style: none;
  padding-left: 0;
  color: #444343;
}
.failures-list li:before {
  content: "✓";
  color: green;
}
